@import 'tailwindcss';

@import 'nextra-theme-docs/style.css';
/* or nextra-theme-blog/style.css */

@variant dark (&:where(.dark *));

:root {
  --text-primary: #2c3e50;
  --text-secondary: #657181;
}

.dark {
  --text-primary: #f9f3f4;
  --text-secondary: #a1a1a1;
}

body {
  font-family:
    'Circular',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

html {
  scroll-padding-top: 84px;
}
